<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dan.dit.whatsthat" >/>

    <!-- Required for donations by Flattr.com and downloads of image bundles-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for donations (and in app purchases) over the PlayStore -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Required by the uncaught exception handler -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Required by various tasks, but only operates in app's external storage directory -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- Required by various tasks, but only operates in app's external storage directory -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required for the download task for image data. Maybe this will be changed to use a system service sometime -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".system.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity
            android:name=".system.SendLog"
            android:theme="@android:style/Theme.Dialog"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="dan.dit.whatsthat.SEND_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".system.RiddleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".system.store.StoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".system.InitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".storage.ImagesContentProvider"
            android:authorities="dan.dit.whatsthat.provider.images"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
